

body {
  font-family: 'Quicksand', sans-serif;
  background: #fff;
  color: black;
}
a {
  color: #fff;
}


p{font-size: 15px;}

a{font-size: 15px;}

h1{font-size: 50px;}

h2{font-size: 80px;
font-family: 'Shrikhand', cursive;
color: black;
}

header img {
  width: 100%;
}

.abeille2 {
  margin-top: 10em;
}


.abeille1 {
  margin-top: 10em;
  width:80%;
  margin-left: 0em;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: E0px;
}

.nav a {
    display: block;
    color: black;
    text-align: justify;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
}

p {
  text-align: justify;
}

.nav a:hover {
  background-color: yellow;
  color: #000;
}
.element {
  margin: 100px 0;
  text-align: center;
}
.element p {
  margin: 40px auto 0;
  max-width: 400px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1000px;
}
.gallery a {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
}
.gallery li {
  margin-bottom: 20px;
  overflow: hidden;
}
.gallery li:first-child {
  flex-basis: 100%;
  height: 300px;
}
.gallery li:nth-child(n+2){
  flex-basis: calc(50% - 10px);
  height: 300px;
}
.gallery img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.hover {
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  background: rgba(0,0,0,.4);
  color: #fff;
  opacity: 0;
  transition: all ease-in .2s;
}
.gallery a:hover .hover {
  opacity: 1;
  top: 0;
}



.flotte {
float:right;
}



div {

}

section {
  justify-content: center;

}




footer { width: 1000px, height: 100px;
      background-color: none;
      font-size: 5%;
      margin-top: 90px;}



      a {text-decoration: black}
